body {
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease-in-out;
}

.weather-clear {
    background-image: url('images/clear.jpg');
}

.weather-cloudy {
    background-image: url('images/cloudy.jpg');
}

.weather-rain {
    background-image: url('images/rain.jpg');
}

.weather-snow {
    background-image: url('images/snow.jpg');
}

.weather-thunder {
    background-image: url('images/thunder.jpg');
}

.weather-fog {
    background-image: url('images/fog.jpg');
}

.weather-default {
    background-color: #f0f0f0;
}